.DS_Store

release/TM*
ANN_*
LIDAR-*
content/0*/backgrounds
.vagrant/machines/
.vagrant/bundler/
.vagrant/rgloader/
old-bits*
.ipynb_checkpoints
tm129-19J-robotlab
.local
.ipython
.cache
nbtutor/
*/*Robot*/backgrounds/
*.pyc
T176*
Daniel*
