#Utilities
jupytext
jupyter-server-proxy
nbzip
#jupyter-archive
nbresuse
git+https://github.com/NII-cloud-operation/Jupyter-multi_outputs
nbgitpuller
tqdm

#Linting
flake8
pycodestyle
pycodestyle_magic
## Install additional style convention rules
pep8-naming
flake8-bugbear
flake8-docstrings
flake8-builtins
## Provide additional conventions for pandas code
pandas-vet
## Autorepair
autopep8

#Simulator
git+https://github.com/innovationOUtside/nbev3devsim.git

#Audio
#pyttsx3 # not trivially in Docker

#Tutor
nbtutor
RISE

#Updates
ipywidgets>=7.5.0
nbconvert>=5.5.0

#Simulator package requirements
numpy #requirement of: jyro

#For generating interactive web demos
nbinteract
voila

# Useful for plotting and analysis
pandas
matplotlib
plotly
seaborn
cufflinks #plotly support for pandas dataframes

# Notebook extensions
jupyter_contrib_nbextensions
jupyter-wysiwyg

#Python tutor
nbtutor
git+https://github.com/innovationOUtside/nb_cell_diff.git


git+https://github.com/innovationOUtside/nb_extension_empinken.git
#Not yet packaged properly:
#git+https://github.com/innovationOUtside/nb_extension_twoCol.git


# Rules based systems
durable_rules
git+https://github.com/innovationOUtside/durable_rules_magic.git
chatterbot==1.0.4

# Drawing
noisify
drawSvg
git+https://github.com/innovationOUtside/flowchart_js_jp_proxy_widget.git

#Robot simulator demos
jyro


