#Utilities
jupytext
jupyter-server-proxy
nbzip
#jupyter-archive
nbresuse
git+https://github.com/NII-cloud-operation/Jupyter-multi_outputs


#Linting
flake8
pycodestyle
pycodestyle_magic
## Install additional style convention rules
pep8-naming
flake8-bugbear
flake8-docstrings
flake8-builtins
## Provide additional conventions for pandas code
pandas-vet

#Updates
ipywidgets>=7.5.0
nbconvert~=5.5.0

#Simulator package requirements
numpy #requirement of: jyro

#For generating interactive web demos
nbinteract
voila

# Useful for plotting and analysis
pandas
matplotlib
plotly

# Notebook extensions
jupyter_contrib_nbextensions

#Robot simulator demos
jyro
