#Utilities
jupytext
jupyter-server-proxy

#Updates
ipywidgets>=7.5.0
nbconvert~=5.5.0

#Simulator package requirements
numpy #requirement of: jyro

#For generating interactive web demos
nbinteract
voila
git+https://github.com/willkessler/jupytergraffiti.git

# Useful for plotting and analysis
pandas
matplotlib
plotly

#Robot simulator demos
jyro
